* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abel';
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    width: 130px;
}

body{
    transition: .3s ease all;
}

nav {
    color: black;
    background-color: aliceblue;
    text-decoration: none;
}

.navbar-toggler-icon{
    background-color: #ca448e;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: aliceblue;
    font-size: 25px;
}


nav a, .negro, nav a:visited, nav .negro:visited{

    text-decoration: none;
    color: black;
}

body.dark .dropdown-menu{
    background-color: black;
}

#modo-oscuro {
    background-color: #ca448e;
    color: aliceblue;
    width: 130px;
    border: none;
}

body.dark{
    background-color:rgb(12, 12, 12);
    color: aliceblue;
}

body.dark nav{
    background-color: rgb(12, 12, 12);
    color: aliceblue;
}

body.dark nav a, body.dark .negro{
    color: aliceblue;
}


.contenedor-principal {
    position: relative;
    text-align: left;
    width: 100%;
}

#evento video {
    width: 100%;
    height: auto;
}

#info-evento {
    position: absolute;
    top: 45%;
    left: 5%;
    color: aliceblue;
    width: 35%;
    text-align: center;
}

h2{
    font-size: calc(35px + 0.4vw);
    font-weight: bold;
    padding: 25px;
}

p{
    font-size: calc(18px + 0.4vw);
    padding: 15px;
}



.secciones-home{
    margin-bottom: 4vh;
}

#sobre-nosotros{
    padding: 100px 0;
}

.contenedor {
    display: flex;
    justify-content:center;
    align-items: center;

}

.contenedor-hijo{
    padding: 15px;
    margin: 20px;    
}

.informacion {
    text-align: center;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-hijo img {
    max-width: 100%;
    align-self: center;
    border-radius: 20%;
}

.btn-fuccia {
    background-color: #ca448e;
    font-weight: bold;
    font-size: calc(16px + 0.8vw);
    color: aliceblue;
}

.enlace, .enlace:visited{
    text-decoration: none;
    color: aliceblue;
    
}

#porque-elegirnos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    color: black;
    text-align: center;

}

body.dark #porque-elegirnos, body.dark #porque-elegirnos .flex-col  {
    color: aliceblue;
}

#porque-elegirnos h4{
    font-size: calc(18px + 0.4vw);
    font-weight: bold;
    text-align: center;
}

#porque-elegirnos button{
    position: absolute;
    bottom: 0;
}

.flex-col{
    width: 30%;
    height: 32em;
    margin: 15px;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}

.img-home {
    max-width: 50%;
    border-radius: 50%;
    margin: 15px;
}

footer{
    height:fit-content;
    background: linear-gradient(#722173, #280e2f);
    
}

footer .contenedor{
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-footer {
    margin: 0 15px;
    width: 100%;
    height: 100%;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto h4{
    padding: 15px;
}

.contacto a, .contacto ul li {
    text-decoration: none;
    color: aliceblue;
    font-size:calc(10px + 0.4vw);;
}

.img-footer {
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    margin: 15px;
}


.linea{
    border-top: 1px solid black;
    height: 10px;
    max-width: 500px;
    padding: 0;
    margin: 20px auto;
}


/*PÁGINA DE REGISTRO*/
#registro-principal{
    position: relative;
    display: inline-block;
    text-align: center;
}

#info{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

#registro-principal img {
    opacity: 93%;
    width: 100%;
}

#info h1 {
    font-size: calc(150px + 0.4vw);
    font-weight: bold;
}

#info h2 {
    font-size: calc(25px + 0.4vw);
    font-weight: bold;
}


#lista {
    font-size: calc(15px + 0.4vw);

}

.mas-info{
    margin: 50px 0;
    padding: 25px;
}

#mas-info h2, #mas-info p, #mas-info ul li{
    padding: 8px;
} 

#mas-info ul li{
    list-style-type: square;
    font-size: calc(12px + 0.4vw);
}

#registro  {
    min-width: 30%;
    background: radial-gradient(#722173, #280e2f);
    color: aliceblue;
    margin: 25px 0;
}

#boton-envio {
    min-width: 15%;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 1185px){
    #info-evento {
        top: 40%;
    }

}

@media only screen and (max-width: 1132px){
    #info-evento {
        top: 35%;
    }

    #info h1 {
        font-size: calc(100px + 0.4vw);
        font-weight: bold;
    }
    
    #info h2 {
        font-size: calc(50px + 0.4vw);
        font-weight: bold;
    }
    
    #info p {
        font-size: calc(12px + 0.4vw);
    
    }
}

@media only screen and (max-width: 1065px){
    #info-evento {
        top: 30%;
    }

    h2{
        font-size: calc(25px + 0.4vw);
        font-weight: bold;
        padding: 8px;
    }
    
    p{
        font-size: calc(12px + 0.4vw);
        padding: 8px;
    }

    .flex-col{
        width: 40%;
        height: 25em;
    }

}

@media only screen and (max-width: 872px) {
    #info-evento{
        top: 0%;
        left: 0%;
        padding: 150px 25px;
        width: 100%;
        height: fit-content;
        background-image: url(img/fondo-evento.png);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        text-align: center;
        margin-bottom: 15px;
    }

    #evento video {
        visibility: hidden;
    }

    .flex-col{
        width: 50%;
        height: 20em;
    }
}

@media only screen and (max-width: 685px) {

    #registro-principal img {
        height: 100%;
    }

    #info h1 {
        font-size: calc(50px + 0.4vw);
        font-weight: bold;
    }
    
    #info h2 {
        font-size: calc(30px + 0.4vw);
        font-weight: bold;
    }
    
    #info p {
        font-size: calc(12px + 0.4vw);
    
    }
    .secciones-home{
        margin-bottom: 20vh;
    }

    .contenedor {
        flex-direction: column;

    }

    .flex-col{
        width: 100%;
        height: 31em;
    }

    .info-footer .img-footer {
        padding: 8px;
        margin: 8px;
        
    }

}


@media only screen and (max-width: 427px) {
    
    #registro-principal{
        height: fit-content;
    }

    #info h1 {
        padding: 4px;
    }
    
    #info h2 {
       padding: 3px;
    }
    
    #info p {
        padding: 4px;
    
    }
}
